
#sec-favorities-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contenedorPeliculasFavoritas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
  }
  .contenedorPeliculasFavoritas img {
    justify-content: center;
    align-items: center;
    width: 270px;
    border-radius: 30px;
  }
  
  .contenedorPeliculasFavoritas > p {
  height: 200px;
  max-width: 390px;
}

.contenedorPeliculasFavoritas > h3 {

  padding-top: 15px;
  margin-bottom: 35px;
  text-shadow:0 0 10px rgba(0, 0, 0, 1);
}

#warningFavoritos {
  text-align: center;
}