
#sec-favorities-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contenedorPeliculasFavoritas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;    
}
.contenedorPeliculasFavoritas img {
  justify-content: center;
  align-items: center;
  width: 45%;
  border-radius: 30px;
}
